header {
  background-color: rgb(81, 40, 91);
  margin: 0 -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  header {
    width: 100vw;
  }
}
