.note {
  background: rgb(221, 209, 226);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  display: flex;
  flex-direction: column;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  cursor: pointer;
  font-size: x-large;
  background-color: transparent;
  padding: 10px;
  align-self: center;
  border: none;
}
@media (max-width: 700px) {
  .note {
    width: 80vw;
  }
}
