* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Titillium Web", sans-serif;
}
body {
  background-color: #7e5c8c37;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  padding: 0 16px;
}
